In [1]:
import pandas as pd
import os
from IPython.display import display, Markdown

In [2]:
data_dir = 'data/'

affected_count_range_df = pd.read_csv(os.path.join(data_dir, 'affected_count_range.csv'))
count_by_company_size_and_type_df = pd.read_csv(os.path.join(data_dir, 'count_by_company_size_and_type.csv'))
cyber_case_count_by_type_df = pd.read_csv(os.path.join(data_dir, 'cyber_case_count_by_type.csv'))
data_breach_count_by_country_df = pd.read_csv(os.path.join(data_dir, 'data_breach_count_by_country.csv'))
data_breach_count_by_state_df = pd.read_csv(os.path.join(data_dir, 'data_breach_count_by_state.csv'))
economic_loss_df = pd.read_csv(os.path.join(data_dir, 'economic_loss.csv'))
financial_services_historical_case_count_df = pd.read_csv(os.path.join(data_dir, 'financial_services_historical_case_count.csv'))
fines_penalties_df = pd.read_csv(os.path.join(data_dir, 'fines_penalties.csv'))
litigated_cases_df = pd.read_csv(os.path.join(data_dir, 'litigated_cases.csv'))
response_costs_df = pd.read_csv(os.path.join(data_dir, 'response_costs.csv'))

In [22]:
display(Markdown("### Affected Count Range"))
display(affected_count_range_df)

### Affected Count Range

  Affected Count Range  Case Count  Average Affected Count
0              (0, 10]       58269                     5.0
1            (10, 100]       14872                    55.0
2            (100, 1K]       20437                   550.0
3            (1K, 10K]       14143                  5500.0
4          (10K, 100K]        6651                 55000.0
5           (100K, 1M]        2660                550000.0
6               (1M, )        1726               1500000.0
7                Total      118758                     NaN

In [23]:
display(Markdown("### Count by Company Size and Type"))
display(count_by_company_size_and_type_df)

### Count by Company Size and Type

  Company Size    PRV    PUB   GOV    NPR  Total
0        Small  15902    485   307  710.0  17404
1       Medium  19387   1436   675  620.0  22118
2        Large  22430   2490  2428  953.0  28301
3   Very Large  12727   4717  1498  435.0  19377
4        Giant   7663   7206  1819  550.0  17238
5         Mega   1666  10306  7842   33.0  19847
6     Colossal   1283   3667  2067    NaN   7017
7      Unknown  15890   6664  3020  552.0  26126

In [25]:

display(Markdown("### Cyber Case Count by Type"))
display(cyber_case_count_by_type_df)

### Cyber Case Count by Type

,Affected Count Range,With Affected Count,With no Affected Count,Total
0,Industrial Controls & Operations,25,120,145
1,Undetermined/Other,382,151,533
2,IT - Processing Errors,556,474,1030
3,Identity - Fraudulent Use/Account Access,736,345,1081
4,IT - Configuration/Implementation Errors,750,665,1415
5,"Skimming, Physical Tampering",680,854,1534
6,Privacy - Unauthorized Data Collection,1125,581,1706
7,"Phishing, Spoofing, Social Engineering",3745,1313,5058
8,Network/Website Disruption,1031,6923,7954
9,Data - Physically Lost or Stolen,8407,1718,10125
10,Data - Unintentional Disclosure,18260,4192,22452
11,Privacy - Unauthorized Contact or Disclosure,37719,4621,42340
12,Data - Malicious Breach,45341,16714,62055

In [26]:

display(Markdown("### Data Breach Count by Country"))
display(data_breach_count_by_country_df)

### Data Breach Count by Country

   Country  Case Count
0      USA      118810
1      CAN       13799
2      GBR        4572
3      IND        1321
4      AUS        1212
5      DEU        1092
6      FRA        1036
7      ITA         820
8      BRA         727
9      IDN         608
10  Others       13431

In [27]:

display(Markdown("### Data Breach Count by State"))
display(data_breach_count_by_state_df)

### Data Breach Count by State

     State  Case Count
0       CA       15992
1       NY       12561
2       TX        7819
3       MA        7648
4       FL        7302
5       IL        6061
6       PA        4889
7       VA        3631
8       GA        3475
9       NJ        3338
10  Others       46094

In [28]:

display(Markdown("### Economic Loss"))
display(economic_loss_df)

### Economic Loss

,Case Type,Case Count (Economic Loss),Loss Amount (Economic Loss)
0,Data - Malicious Breach,667,15669566
1,Privacy - Unauthorized Contact or Disclosure,5,524120
2,Data - Physically Lost or Stolen,41,2078884
3,Data - Unintentional Disclosure,9,38713
4,Network/Website Disruption,215,4018173
5,Identity - Fraudulent Use/Account Access,989,14409001
6,Privacy - Unauthorized Data Collection,3,32012
7,"Phishing, Spoofing, Social Engineering",278,1132811
8,"Skimming, Physical Tampering",98,63908
9,IT - Processing Errors,33,1493802
10,Cyber Extortion,8675,271472
11,IT - Configuration/Implementation Errors,20,473471
12,Industrial Controls & Operations,6,188188
13,Total,11041,40644124

In [30]:

display(Markdown("### Financial Services Historical Case Count"))
display(financial_services_historical_case_count_df)

### Financial Services Historical Case Count

,Industry,Prior 2008,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"Finance, Insurance, And Real Estate",1720,1542,944,1075,1431,2013,2578,2514,2798,3144,2685,2778,2249,2236,2139,1637,359

In [31]:

display(Markdown("### Fines and Penalties"))
display(fines_penalties_df)

### Fines and Penalties

,Case Type,Case Count (Fines & Penalties),Loss Amount (Fines & Penalties)
0,Data - Malicious Breach,543,2674547.0
1,Privacy - Unauthorized Contact or Disclosure,1306,2316381.0
2,Data - Physically Lost or Stolen,46,26690.0
3,Data - Unintentional Disclosure,248,467718.0
4,Network/Website Disruption,11,23462.0
5,Identity - Fraudulent Use/Account Access,29,379629.0
6,Privacy - Unauthorized Data Collection,172,7408302.0
7,"Phishing, Spoofing, Social Engineering",23,1178045.0
8,"Skimming, Physical Tampering",3,175.0
9,IT - Processing Errors,26,1704319.0
10,Cyber Extortion,8676,NaN
11,IT - Configuration/Implementation Errors,43,430707.0
12,Industrial Controls & Operations,3,11019.0
13,Total,2453,16620996.0

In [32]:
display(Markdown("### Litigated Cases"))
display(litigated_cases_df)

### Litigated Cases

,Case Type,Case Count (Litigated Cases),Loss Amount (Litigated Cases)
0,Data - Malicious Breach,398.0,5029375.0
1,Privacy - Unauthorized Contact or Disclosure,2590.0,7572005.0
2,Data - Physically Lost or Stolen,35.0,180918.0
3,Data - Unintentional Disclosure,96.0,242773.0
4,Network/Website Disruption,7.0,14219.0
5,Identity - Fraudulent Use/Account Access,35.0,26490.0
6,Privacy - Unauthorized Data Collection,245.0,7408302.0
7,"Phishing, Spoofing, Social Engineering",30.0,742363.0
8,"Skimming, Physical Tampering",9.0,75672.0
9,IT - Processing Errors,8.0,305749.0
10,Cyber Extortion,NaN,NaN
11,IT - Configuration/Implementation Errors,28.0,230203.0
12,Industrial Controls & Operations,1.0,7.0
13,Total,3555.0,18070452.0

In [33]:

display(Markdown("### Response Costs"))
display(response_costs_df)

### Response Costs

,Case Type,Case Count (Response Costs),Loss Amount (Response Costs)
0,Data - Malicious Breach,206.0,4046940.0
1,Privacy - Unauthorized Contact or Disclosure,1.0,700.0
2,Data - Physically Lost or Stolen,15.0,86365.0
3,Data - Unintentional Disclosure,13.0,4902.0
4,Network/Website Disruption,114.0,2092951.0
5,Identity - Fraudulent Use/Account Access,1.0,45.0
6,Privacy - Unauthorized Data Collection,NaN,NaN
7,"Phishing, Spoofing, Social Engineering",21.0,76784.0
8,"Skimming, Physical Tampering",6.0,26274.0
9,IT - Processing Errors,7.0,907548.0
10,Cyber Extortion,1.0,177.0
11,IT - Configuration/Implementation Errors,7.0,349172.0
12,Industrial Controls & Operations,3.0,1187.0
13,Total,395.0,7593045.0